/* Media query breakpoints */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* z-index */
.z-index-1 {
  z-index: 1; }

.text-decoration-none {
  text-decoration: none; }

.card-box-shadow {
  -webkit-box-shadow: 6px 6px 22px -9px #8a838a;
  -moz-box-shadow: 6px 6px 22px -9px #8a838a;
  box-shadow: 6px 6px 22px -9px #8a838a; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

/* font sizes, font-weights, colors, media query breakpoints, */
/* This creates custom margin classes based on the values added. Eg. .mt-24 is margin-top: 24px */
.ml-0 {
  margin-left: 0px; }

.ml-4 {
  margin-left: 4px; }

.ml-8 {
  margin-left: 8px; }

.ml-16 {
  margin-left: 16px; }

.ml-24 {
  margin-left: 24px; }

.ml-32 {
  margin-left: 32px; }

.ml-40 {
  margin-left: 40px; }

.ml-48 {
  margin-left: 48px; }

.ml-56 {
  margin-left: 56px; }

.ml-64 {
  margin-left: 64px; }

.ml-72 {
  margin-left: 72px; }

.ml-80 {
  margin-left: 80px; }

.mr-0 {
  margin-right: 0px; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-16 {
  margin-right: 16px; }

.mr-24 {
  margin-right: 24px; }

.mr-32 {
  margin-right: 32px; }

.mr-40 {
  margin-right: 40px; }

.mr-48 {
  margin-right: 48px; }

.mr-56 {
  margin-right: 56px; }

.mr-64 {
  margin-right: 64px; }

.mr-72 {
  margin-right: 72px; }

.mr-80 {
  margin-right: 80px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-4 {
  margin-bottom: 4px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-56 {
  margin-bottom: 56px; }

.mb-64 {
  margin-bottom: 64px; }

.mb-72 {
  margin-bottom: 72px; }

.mb-80 {
  margin-bottom: 80px; }

.mt-0 {
  margin-bottom: 0px; }

.mt-4 {
  margin-top: 4px; }

.mt-8 {
  margin-top: 8px; }

.mt-16 {
  margin-top: 16px; }

.mt-24 {
  margin-top: 24px; }

.mt-32 {
  margin-top: 32px; }

.mt-40 {
  margin-top: 40px; }

.mt-48 {
  margin-top: 48px; }

.mt-56 {
  margin-top: 56px; }

.mt-64 {
  margin-top: 64px; }

.mt-72 {
  margin-top: 72px; }

.mt-80 {
  margin-top: 80px; }

/*----------*/
/* This creates custom padding classes based on the values added. Eg. .pt-24 is padding-top: 24px */
.pl-0 {
  padding-left: 0px; }

.pl-4 {
  padding-left: 4px; }

.pl-8 {
  padding-left: 8px; }

.pl-16 {
  padding-left: 16px; }

.pl-24 {
  padding-left: 24px; }

.pl-32 {
  padding-left: 32px; }

.pl-40 {
  padding-left: 40px; }

.pl-48 {
  padding-left: 48px; }

.pl-56 {
  padding-left: 56px; }

.pl-64 {
  padding-left: 64px; }

.pl-72 {
  padding-left: 72px; }

.pl-80 {
  padding-left: 80px; }

.pr-0 {
  padding-right: 0px; }

.pr-4 {
  padding-right: 4px; }

.pr-8 {
  padding-right: 8px; }

.pr-16 {
  padding-right: 16px; }

.pr-24 {
  padding-right: 24px; }

.pr-32 {
  padding-right: 32px; }

.pr-40 {
  padding-right: 40px; }

.pr-48 {
  padding-right: 48px; }

.pr-56 {
  padding-right: 56px; }

.pr-64 {
  padding-right: 64px; }

.pr-72 {
  padding-right: 72px; }

.pr-80 {
  padding-right: 80px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-4 {
  padding-bottom: 4px; }

.pb-8 {
  padding-bottom: 8px; }

.pb-16 {
  padding-bottom: 16px; }

.pb-24 {
  padding-bottom: 24px; }

.pb-32 {
  padding-bottom: 32px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-48 {
  padding-bottom: 48px; }

.pb-56 {
  padding-bottom: 56px; }

.pb-64 {
  padding-bottom: 64px; }

.pb-72 {
  padding-bottom: 72px; }

.pb-80 {
  padding-bottom: 80px; }

.pt-0 {
  padding-bottom: 0px; }

.pt-4 {
  padding-top: 4px; }

.pt-8 {
  padding-top: 8px; }

.pt-16 {
  padding-top: 16px; }

.pt-24 {
  padding-top: 24px; }

.pt-32 {
  padding-top: 32px; }

.pt-40 {
  padding-top: 40px; }

.pt-48 {
  padding-top: 48px; }

.pt-56 {
  padding-top: 56px; }

.pt-64 {
  padding-top: 64px; }

.pt-72 {
  padding-top: 72px; }

.pt-80 {
  padding-top: 80px; }

/*----------*/
/* mixins for margin, padding */
/* Primary Navbar */
.primary-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000; }
.primary-navbar li {
  float: left; }
.primary-navbar li a {
  display: block;
  color: #9C9C9C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }
  .primary-navbar li a:hover {
    color: #f8f8f8;
    top: -2px;
    position: relative;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.2s; }
.primary-navbar .gradient {
  background: -webkit-linear-gradient(left, #816894, #816894, #df5e0e, #f0a40c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.secondary-navbar .affix {
  top: 0;
  width: 100%; }
.secondary-navbar .affix + .container-fluid {
  padding-top: 70px; }

/* /.secondary navbar */
.secondary-nav-fixed-height {
  height: 50px; }

/* styles for primary and secondary navbar */
/* Color Themes - Variables */
/* Common Colors - Variables */
/* Mixins */
/* Button Global */
.btn {
  display: inline-block;
  margin: 8px;
  border: .094em solid;
  border-radius: .400em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em #fafafa, inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.btn-l {
  padding: .938em 1.875em; }

/* Themes */
.dark-blue {
  border-color: #222c59;
  background-color: #3E50A3; }
  .dark-blue:hover {
    background-color: #36458d;
    box-shadow: 0 0.125em #fafafa, inset 0 0.063em #fafafa, inset 0 -0.188em #4154aa;
    color: #fafafa; }
  .dark-blue:active {
    box-shadow: 0 0.063em #fafafa, inset 0 0 1.094em #06070f, inset 0 0.063em #222c59, inset 0 -0.188em #222c59; }

.orange {
  border-color: #97360d;
  background-color: #eb5b1f; }
  .orange:hover {
    background-color: #d84d13;
    box-shadow: 0 0.125em #fafafa, inset 0 0.063em #fafafa, inset 0 -0.188em #ec6228;
    color: #fafafa; }
  .orange:active {
    box-shadow: 0 0.063em #fafafa, inset 0 0 1.094em #391405, inset 0 0.063em #97360d, inset 0 -0.188em #97360d; }

/* styles for buttons should be here  */
.bg-hg-orange {
  background-color: #eb5b1f;
  /* The one and only hasgeek orange */ }

.off-white {
  background-color: #fAfAfA; }

/*  */
/* No more font size variants please. */
.font-xxs {
  font-size: 10px; }

.font-xs {
  font-size: 13px; }

.font-s {
  font-size: 16px; }

.font-m {
  font-size: 18px; }

.font-l {
  font-size: 32px; }

.font-xl {
  font-size: 40px; }

.font-xxl {
  font-size: 64px; }

/* Font color guide is here. */
.font-black {
  color: #1F2D3D; }

.font-steelgrey {
  color: #8492a6; }

.font-white {
  color: #ffffff; }

.font-off-white {
  color: #fAfAfA; }

/* Font weight is here. */
.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 700; }

/*  */
/* This partial is for styles that are unique to the main rootconf page. When creating a partial unique to a page add a unique class to the body in the html of that page eg. <body class="rootconf-main">. Nest your scss in this class. Eg.
.rootconf-main{
    p{
    color: tomato;
    }
    h1{
    color: blue;
    }
}
This prevents classes from overriding each other in main.css and creating chaos in the stylesheets */
.rootconf-main .masthead {
  background-color: #f6f9fc;
  width: auto;
  height: 400px; }
.rootconf-main .event-shoutout-position {
  position: relative;
  top: -100px;
  background: #ffffff; }

/* styles pertaining to the rootconf main page only */

/*# sourceMappingURL=main.css.map */
