---
layout: base
title: 'Fragments'
---
<!-- Primary Navbar -->
<section class="navbar mb-0 ">
  {% include navbar_site.html %}
</section>
<!-- /.Primary Navbar -->

<section class="masthead">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="font-xxl mt-72 mb-32">{{ site.title }}</h1>
        <h2 class="font-m">{{ site.subtitle }}</h2>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      {% assign featured_events = site.events | where:'featured', 'true' %}
      {% assign featured_length_mod = featured_events | modulo:2%}
      {% if featured_length_mod == 0 %}
        {% assign featured_count = 'even' %}
      {% else %}
        {% assign featured_count = 'odd' %}
      {% endif %}

      {% if featured_count == 'odd' %}
        {% assign first_featured_event = featured_events | first %}
        <div class="col-md-offset-2 col-md-8">
          {% include event_card.html event=first_featured_event%}
        </div>
        {% assign remaining_featured_events = featured_events | offset:1 %}
        {% for event in remaining_featured_events %}
        <div class="{% cycle 'col-md-offset-1', '' %} col-md-5">
          {% include event_card.html event=event%}
        </div>
        {% endfor %}
      {% else %}
      {% for event in featured_events %}
      <div class="{% cycle 'col-md-offset-1', '' %} col-md-5">
        {% include event_card.html event=event%}
      </div>
      {% endfor %}
      {% endif %}




    </div>
  </div>
</section>

<!-- <section class="about-community" id="community">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-24">A growing community of mobile developers</h2>
                <p class="font-s">Conferences bring like-minded people under one umbrella. Insights bind participants and produce the sentiment of community. Our goal is to facilitate conversations and sharing of experiences.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="text-uppercase font-steelgrey mt-24 mb-32 font-m">Join us online</h4>
                <p class="font-s">We run a community Slack team where we have AMAs and discussions. You can also subscribe to our mailing list for updates.</p><br>
                <p class="font-s text-decoration-underline">Join the #rootconf community on slack</p>
                <p class="font-s text-decoration-underline">Join the mailing list</p>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="join-us" id="community-section">
    <div class="container mt-80">
        <div class="row">
           <div class="col-md-12">
                <h2>Find us on Slack</h2>
                <img src="http://via.placeholder.com/1200x650" alt="" class="img-responsive">
           </div><hr>
        </div>
    </div>
</section> -->
<!-- <section class="attend-workshop">
    <div class="container mt-80">
        <div class="row">
            <div class="col-md-12" id="events-section">
                <h2 class="mb-24">Events</h2>
                <div class="row">
                    <div class="col-md-4 col-xs-12 mb-32">
                        <div class="meetup card">
                            <div class="card-heading">
                                <p class="font-s font-white">Meetup <span class="pull-right">Fri 27 May 7:00 PM</span> </p>
                            </div>
                            <div class="body" style="padding: 20px;">
                                <h4>Real-time monitoring GlusterFS using Events APIs</h4>
                                <p class="font-s">REST a simple architectural style based on the principles of HTTP for building modern web applications and APIs. This hands-on workshop takes you though everything that you need to know to build great RESTful APIs. We’ll be using Python for examples and exercises.</p>
                                <p class="font-s"><strong>Instructor: Aravind K</strong></p>
                                <p class="font-s"><i class="fa fa-map-marker" aria-hidden="true"></i> MLR Convention Center, JP Nagar</p>
                                <button class="mt-20 orange btn font-s" role="button">Attend <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-32">
                        <div class="ama card">
                            <div class="card-heading">
                                <p class="font-s font-white">Ask Me Anything <span class="pull-right">Fri 27 May 7:00 PM</span> </p>
                            </div>
                            <div class="body" style="padding: 20px;">
                                <h4>Real-time monitoring GlusterFS using Events APIs</h4>
                                <p class="font-s">REST a simple architectural style based on the principles of HTTP for building modern web applications and APIs. This hands-on workshop takes you though everything that you need to know to build great RESTful APIs. We’ll be using Python for examples and exercises.</p>
                                <p class="font-s"><strong>Instructor: Aravind K</strong></p>
                                <p class="font-s"><i class="fa fa-map-marker" aria-hidden="true"></i> Slack</p>
                                <button class="mt-20 orange btn font-s" role="button">Attend <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-32">
                        <div class="workshop card">
                            <div class="card-heading">
                                <p class="font-s font-white">Ask Me Anything <span class="pull-right">Fri 27 May 7:00 PM</span> </p>
                            </div>
                            <div class="body" style="padding: 20px;">
                                <h4>Real-time monitoring GlusterFS using Events APIs</h4>
                                <p class="font-s">REST a simple architectural style based on the principles of HTTP for building modern web applications and APIs. This hands-on workshop takes you though everything that you need to know to build great RESTful APIs. We’ll be using Python for examples and exercises.</p>
                                <p class="font-s"><strong>Instructor: Aravind K</strong></p>
                                <p class="font-s"><i class="fa fa-map-marker" aria-hidden="true"></i> MLR Convention Center, Whitefield</p>
                                <button class="mt-20 orange btn font-s" role="button">Attend <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-32">
                        <div class="meetup card">
                            <div class="card-heading">
                                <p class="font-s font-white">Meetup <span class="pull-right">Fri 27 May 7:00 PM</span> </p>
                            </div>
                            <div class="body" style="padding: 20px;">
                                <h4>Real-time monitoring GlusterFS using Events APIs</h4>
                                <p class="font-s">REST a simple architectural style based on the principles of HTTP for building modern web applications and APIs. This hands-on workshop takes you though everything that you need to know to build great RESTful APIs. We’ll be using Python for examples and exercises.</p>
                                <p class="font-s"><strong>Instructor: Aravind K</strong></p>
                                <p class="font-s"><i class="fa fa-map-marker" aria-hidden="true"></i> MLR Convention Center, JP Nagar</p>
                                <button class="mt-20 orange btn font-s" role="button">Attend <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 mb-32">
                        <div class="meetup card">
                            <div class="card-heading">
                                <p class="font-s font-white">Meetup <span class="pull-right">Fri 27 May 7:00 PM</span> </p>
                            </div>
                            <div class="body" style="padding: 20px;">
                                <h4>Real-time monitoring GlusterFS using Events APIs</h4>
                                <p class="font-s">REST a simple architectural style based on the principles of HTTP for building modern web applications and APIs. This hands-on workshop takes you though everything that you need to know to build great RESTful APIs. We’ll be using Python for examples and exercises.</p>
                                <p class="font-s"><strong>Instructor: Aravind K</strong></p>
                                <p class="font-s"><i class="fa fa-map-marker" aria-hidden="true"></i> MLR Convention Center, JP Nagar</p>
                                <button class="mt-20 orange btn font-s" role="button">Attend <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mb-40">
            <img src="./img/temporary-img.png" alt="" class="img-responsive">
         </div>
        <div class="row mt-80" id="become-speaker-section">
            <div class="col-md-4 mt-40" >
                <img src="./img/speaker-icon.svg" alt="" class="img-responsive">
                <h3>Apply as a speaker</h3>
                <p class="font-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dignissim nulla. Nulla venenatis diam sit amet enim malesuada, vel mattis nulla tincidunt. Sed laoreet tempor urna id ultricies. Nam non porttitor ante, id elementum dolor. </p>
                <button class="mt-20 orange btn  font-s" role="button">Apply as a speaker <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4 mt-40">
                <img src="./img/volunteer-icon.svg" alt="" class="img-responsive">
                <h3>Apply as a volunteer</h3>
                <p class="font-s">Quisque vel massa id turpis efficitur convallis. Nullam vestibulum sodales purus, eget gravida nibh sollicitudin vel. Quisque non eleifend ex. Aliquam dictum vestibulum libero, at rhoncus eros consequat ut. Duis fringilla pellentesque volutpat. Pellentesque vel est lobortis, venenatis augue at, vestibulum elit. Etiam tellus lectus, vestibulum nec fermentum eu, pharetra ut est. Maecenas congue dictum iaculis.</p>
                <button class="mt-20 orange btn  font-s" role="button">Apply as a volunteer <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4 mt-40">
                <img src="./img/ticket-icon.svg" alt="" class="img-responsive">
                <h3>Buy Tickets</h3>
                <p class="font-s">Quisque vel massa id turpis efficitur convallis. Nullam vestibulum sodales purus, eget gravida nibh sollicitudin vel. Quisque non eleifend ex. Aliquam dictum vestibulum libero, at rhoncus eros consequat ut. Duis fringilla pellentesque volutpat. Pellentesque vel est lobortis, venenatis augue at, vestibulum elit. </p>
                <button class="mt-20 orange btn  font-s" role="button">Buy Tickets <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>

        </div>
    </div>
</section> -->

<!-- <section class="speak-at-event">
  <div class="container mt-80">
    <div class="row card-box-shadow">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 col-sm-6 pl-0 pr-0">
            <img src="http://via.placeholder.com/400x350" alt="" class="img-responsive">
          </div>
          <div class="col-md-6 col-sm-6 mt-32">
            <p class="text-uppercase font-steelgrey">
              Submission of proposals are now open
            </p>
            <h3 class="font-xl">Speak at rootconf</h3>
            <p class="font-s">This year's theme is service reliability. You will hear case studies of how organizations and teams plan, monitor and automate their infrastructure to ensure continous reliabilty and availability of services.</p>
            <button class="mt-20 orange btn btn-l  font-m" role="button">Become a speaker <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section>
    <div class="container mt-80">
        <div class="row attendee-stories" id="stories-section">
             <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-12">
                               <figure class="clearfix">
                                   <div class="col-md-4 col-sm-4 col-xs-6"><img class="img-responsive media-object" src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png"> </div>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <figcaption class="caption">
                                            <p class="text-uppercase font-steelgrey mt-24"> Stories shared by some of our attendees </p>
                                            <p class="font-l">Aruna's experience with rootconf</p>
                                            <p class="font-s">Facilisis est quis vel sodales ullamcorper. A nec vitae tortor sed nunc aliquet leo senectus. Nunc pellentesque a vehicula libero accusantium nec in purus. Id sodales consequat. Purus mauris esse. Ac ultricies leo. Nec conubia nulla imperdiet scelerisque et magna velit metus. Ac blandit error. Sapien risus cursus at aenean mauris mi tellus penatibus. Sodales etiam eu rhoncus velit erat rutrum sollicitudin suspendisse luctus mattis id.</p>
                                            <blockquote class="no-margin">
                                                <p>Aruna </p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
                                        </figcaption>
                                   </div>
                               </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-12">
                               <figure class="clearfix">
                                   <div class="col-md-4 col-sm-4 col-xs-12"><img class="img-responsive media-object" src="http://asacaindia.com/wp-content/uploads/2014/03/profile.jpg"> </div>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <figcaption class="caption">
                                            <p class="text-uppercase font-steelgrey mt-24"> Stories shared by some of our attendees </p>
                                            <p class="font-l">Alex gets hired at rootconf</p>
                                            <p class="font-s">Facilisis est quis vel sodales ullamcorper. A nec vitae tortor sed nunc aliquet leo senectus. Nunc pellentesque a vehicula libero accusantium nec in purus. Id sodales consequat. Purus mauris esse. Ac ultricies leo. Nec conubia nulla imperdiet scelerisque et magna velit metus. Ac blandit error. Sapien risus cursus at aenean mauris mi tellus penatibus. Sodales etiam eu rhoncus velit erat rutrum sollicitudin suspendisse luctus mattis id. </p>
                                            <blockquote class="no-margin">
                                                <p>Alex</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
                                        </figcaption>
                                   </div>
                               </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control background-none" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" style="margin-left: -60px;"></span> </a>
                <a class="right carousel-control background-none" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" style="margin-right: -60px;"></span> </a>
             </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container mt-80">
        <div class="row">
            <div class="col-md-4" id="sponsor-section">
                <h2 class="mb-24">Our Sponsors</h2>
                <p class="font-s">Our  sponsors are brands who are the best in the industry. We have a range of sponsorship options. Get a stall something something Insights bind participants and produce the sentiment of community. Our goal is to facilitate conversations and sharing of experiences that eventually lead to friendships which, in turn, foster community.</p>
            </div>
            <div class="col-md-8 mt-32">
                <div class="row">
                    <div class="col-md-3 col-xs-6 mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-xs-6  mt-16">
                        <img src="http://via.placeholder.com/150x50" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="sponsor-an-event">
  <div class="container mt-80">
    <div class="row card-box-shadow">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 col-sm-6 pl-0 pr-0">
            <img src="http://via.placeholder.com/400x350" alt="" class="img-responsive">
          </div>
          <div class="col-md-6 col-sm-6 mt-32">
            <h3 class="font-xl">Sponsor rootconf</h3>
            <p class="font-s">This year's theme is service reliability. You will hear case studies of how organizations and teams plan, monitor and automate their infrastructure to ensure continous reliabilty and availability of services.</p>
            <button class="mt-20 orange btn btn-l  font-m" role="button">View sponsorship deck <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="archive" id="archive">
    <div class="container mt-80">
        <div class="row">
            <div class="col-md-4">
                <h3>Photos</h3>
                <a href="https://www.flickr.com/photos/hasgeek/albums">
                    <div class="image-overlay">
                        <img src="https://c1.staticflickr.com/5/4185/33827284114_3f1abb2e79_k.jpg" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="text"><i class="fa fa-camera" aria-hidden="true" style="font-size: 64px;"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <h3>Videos</h3>
                <a href="https://hasgeek.tv/droidconin/">
                    <div class="image-overlay">
                        <img src="https://c1.staticflickr.com/5/4181/34508119382_dce083ecd7_k.jpg" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="text"><i class="fa fa-video-camera" aria-hidden="true" style="font-size: 64px;"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 blog">
                <h3>Blog</h3>
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Newest Post</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Popular Post</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                                <a href="">
                                    <h3 class="font-s mt-0">Introduction to rootconf 2017 and what to expect this year</h3>
                                </a>
                                 <p class="font-steelgrey">4 hrs ago</p>
                                <hr>
                                <a href="">
                                <h3 class="font-s mt-0">Talk on failure resistant architecture with micro-service dependancies</h3>
                                </a>
                                 <p class="font-steelgrey">2 weeks ago</p>
                            </div>
                            <div class="tab-pane fade" id="tab2primary">
                                <a href="">
                                    <h3 class="font-s mt-0">Talk on failure resistant architecture with micro-service dependancies</h3>
                                </a>
                                 <p class="font-steelgrey">4 hrs ago</p>

                                <hr>
                                <a href="">
                                    <h3 class="font-s mt-0">Introduction to rootconf 2017 and what to expect this year</h3>
                                </a>
                                 <p class="font-steelgrey">2 weeks ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

{% include footer.html %}
