<div class="font-off-white">
  <div class="col-md-offset-1 col-md-10 event-shoutout card-box-shadow">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-12 mt-32 mb-32">
          <h1 class="font-xxl mt-32">{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="font-s">{{ page.subtitle }}</h2>
          {% endif %}
          <h2 class="font-m">{{ page.datelocation }}</h2>
          {% if page.boxoffice_item_collection %}
          <a class="mt-20 orange btn btn-m font-m" href="#tickets">Buy Tickets</a>
          {% endif %}
          {% if page.funnel %}
          <a class="mt-20 orange btn btn-m font-m" href="{{ page.funnel }}" target="_blank">Propose a talk</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
