{% assign all_events = site.collections | where:'type', 'event' | first %}
{% assign featured_events = all_events.docs | where:'featured', 'true' %}



<nav class="nav has-shadow">
  <div class="container">
    <label class="nav-toggle" for="main-nav-toggle-state">
     <span></span>
     <span></span>
     <span></span>
   </label>
    <!-- This checkbox is hidden -->
    <input type="checkbox" class="nav-toggle-state" id="main-nav-toggle-state" />
    <a class="nav-item is-hidden-tablet" href="{{site.url}}{{site.baseurl}}/" >
      {{ site.title }}
    </a>
    <div class="nav-left">
      <a class="nav-item is-hidden-mobile" href="{{site.url}}{{site.baseurl}}/" >
        {{ site.title }}
      </a>
			{% for event in featured_events %}
			  <a class="nav-item is-hidden-mobile" href="{{site.url}}{{site.baseurl}}{{ event.url }}" >{{ event.title }}</a>
			{% endfor %}
    </div>
    <div class="nav-right nav-menu">
			{% for event in featured_events %}
			  <a class="nav-item is-hidden-tablet" href="{{site.url}}{{site.baseurl}}{{ event.url }}" >{{ event.title }}</a>
			{% endfor %}
    </div>
  </div>
</nav>
