---
---

{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css">
    {% if page.custom_css %}
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/{{ page.custom_css }}">
    {% endif %}
    {% if page.boxoffice_item_collection %}
      {% include boxoffice_styles.html %}
    {% endif %}
</head>
<body class="main font-black">

  {{ content }}

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
{% if page.boxoffice_item_collection %}
  {% include boxoffice_js.html %}
{% endif %}

</body>
</html>
