---
---

{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css">
    {% if page.custom_css %}
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/{{ page.custom_css }}">
    {% endif %}
    {% if page.boxoffice_item_collection %}
      {% include boxoffice_styles.html %}
    {% endif %}
    {% if page.venue %}
      <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/leaflet.css">
    {% endif %}
</head>
<body class="main font-black">

  {{ content }}

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
{% if page.venue %}
  <script src="{{ site.url }}{{ site.baseurl }}/js/leaflet.js"></script>
{% endif %}
<script>
  $(document).ready( function() {

    var stickyNav = $(".nav-sticky");
    if (stickyNav.length > 0) {
      stuck = "nav-stuck";
      headerHeight = stickyNav[0].offsetTop;
      nextSibling = stickyNav.next()[0];
      navHeight = stickyNav[0].clientHeight;
      $(window).scroll(function() {
        if( $(this).scrollTop() > headerHeight ) {
          stickyNav.addClass(stuck);
          nextSibling.style.marginTop = navHeight+"px";
        } else {
          stickyNav.removeClass(stuck);
          nextSibling.style.marginTop = 0;
        }
      });
    }

    {% if page.venue %}
      initLeaflets();
    {% endif %}

  })

  function showModal(modalId) {
    $('#'+modalId).addClass('is-active');
  }
  function hideModal(modalId) {
    $('#'+modalId).removeClass('is-active');
  }
</script>
{% if page.boxoffice_item_collection %}
  {% include boxoffice_js.html %}
{% endif %}

</body>
</html>
