---
layout: base
---

<!-- Primary Navbar -->
<section class="navbar mb-0 ">
  <div class="container-fluid pl-0 pr-0">
    <div class="primary-navbar">
      <ul>
        <li><a href="/"><strong>Fragments</strong></a></li>
        <li><a href="/2017">2017 Conference</a></li>
        <!-- <li class="pull-right"><a href="https://hasgeek.com/">HasGeek</a></li> -->
      </ul>
    </div>
</div>
</section>
<!-- /.Primary Navbar -->


<!-- Secondary Navbar -->
<section class="secondary-navbar nav-wrapper">
  <nav class="navbar navbar-default mb-0 z-index-1" id="body" id="navbar-affix" data-spy="affix" data-offset-top="50">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ page.title }}</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#overview">Overview</a></li>
        <!-- <li><a href="#schedule">Schedule</a></li> -->
        <li><a href="#ticket">Tickets</a></li>
        <li><a href="#speak">Call for Proposals</a></li>
        <li><a href="#sponsor">Sponsor</a></li>
        <li><a href="#archive">Photos &amp; Videos</a></li>
        <li><a href="#hasgeek">About HasGeek</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>
<!--/.Secondary Navbar -->

<section>
  <div class="row mt-32">
    <div class="col-md-offset-1 col-md-10 event-shoutout card-box-shadow font-off-white">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-12 mt-32 mb-32">
            <h1 class="font-xxl mt-32">{{ page.title }}</h1>
            <h2 class="font-s">(formerly droidconIN)</h2>
            <h2 class="font-m">{{ page.datelocation }}</h2>
            <a class="mt-20 orange btn btn-m font-m" href="{{ page.funnel }}">Propose a talk</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-community mt-32" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-24">What happened to droidconIN?</h2>
                <p class="font-m">We've been organizing droidconIN since 2011 and while the mobile development landscape has been changing rapidly since, we have not. With the maturing of the mobile ecosystem, we are seeing more and more collaboration between mobile platform teams. The rise of cross platform frameworks and a drive for feature and design parity across platforms, teams need to understand the mobile app ecosystem as whole, not just Android or iOS.</p>
                <p class="font-m">Building on this trend, we've decided to launch Fragments - a community and conference that covers the mobile ecosystem as a whole. Well cover topics across Android, iOS, and even advancements in the mobile web, such as Progressive Web Apps.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="text-uppercase font-steelgrey mt-24 mb-32 font-m">Past conferences</h4>
                <p class="font-s">HasGeek produced droidconIN from 2011 to 2016.</p>
                <p class="font-s"><a href="https://droidcon.in/2011">Droidcon India 2011</a></p>
                <p class="font-s"><a href="https://droidcon.in/2012">Droidcon India 2012</a></p>
                <p class="font-s"><a href="https://droidcon.in/2013">Droidcon India 2013</a></p>
                <p class="font-s"><a href="https://droidcon.in/2014">Droidcon India 2014</a></p>
                <p class="font-s"><a href="https://droidcon.in/2015">Droidcon India 2015</a></p>
                <p class="font-s"><a href="https://droidcon.in/2016">droidconIN 2016</a></p>
            </div>
        </div>
    </div>
</section>

<section class="about-community mt-32" id="speak">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="mb-24">Call for Proposals</h2>
                <p class="font-m">We are currently accepting talk proposal submissions</p>
                <a class="mt-20 orange btn btn-l font-m" href="{{ page.funnel }}">Propose a talk</a>
            </div>
        </div>
    </div>
</section>

<section class="archive" id="archive">
    <div class="container mt-80">
        <div class="row">
            <div class="col-md-4">
                <h3>Photos</h3>
                <a href="https://www.flickr.com/photos/hasgeek/albums">
                    <div class="image-overlay">
                        <img src="https://c1.staticflickr.com/5/4185/33827284114_3f1abb2e79_k.jpg" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="text"><i class="fa fa-camera" aria-hidden="true" style="font-size: 64px;"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <h3>Videos</h3>
                <a href="https://hasgeek.tv/droidconin/">
                    <div class="image-overlay">
                        <img src="https://c1.staticflickr.com/5/4181/34508119382_dce083ecd7_k.jpg" alt="Avatar" class="image img-responsive">
                        <div class="overlay">
                            <div class="text"><i class="fa fa-video-camera" aria-hidden="true" style="font-size: 64px;"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
