---
layout: base
---

<!-- Primary Navbar -->
  {% include navbar_site.html %}
<!-- /.Primary Navbar -->



<section class="row mt-32">
  {% include event_header_section.html event=page %}
</section>


<nav class="nav has-shadow">
  <div class="container">
    <!-- This checkbox is hidden -->
    <input type="checkbox" class="nav-toggle-state" id="sub-nav-toggle-state"  />
    <div class="nav-left">
    </div>
    <div class="nav-center">
      {% if page.overview %}
      <a class="nav-item is-tab is-hidden-mobile" href="#overview">Overview</a>
      {% endif %}
      <!-- <li><a href="#schedule">Schedule</a></li> -->
      {% if page.boxoffice_item_collection %}
      <a class="nav-item is-tab is-hidden-mobile" href="#tickets">Tickets</a>
      {% endif %}
      {% if page.funnel %}
      <a class="nav-item is-tab is-hidden-mobile" href="#speak">Call for Proposals</a>
      {% endif %}
      {% if page.archive %}
      <a class="nav-item is-tab is-hidden-mobile" href="#archive">Photos &amp; Videos</a>
      {% endif %}
      {% if page.sponsor %}
      <a class="nav-item is-tab is-hidden-mobile" href="#sponsor">Sponsors</a>
      {% endif %}
      <a class="nav-item is-tab is-hidden-mobile" href="#hasgeek">About HasGeek</a>
    </div>
    <div class="nav-right nav-menu">
      {% if page.overview %}
      <a class="nav-item is-tab is-hidden-tablet" href="#overview">Overview</a>
      {% endif %}
      <!-- <li><a href="#schedule">Schedule</a></li> -->
      {% if page.boxoffice_item_collection %}
      <a class="nav-item is-tab is-hidden-tablet" href="#tickets">Tickets</a>
      {% endif %}
      {% if page.funnel %}
      <a class="nav-item is-tab is-hidden-tablet is-active" href="#speak">Call for Proposals</a>
      {% endif %}
      {% if page.archive %}
      <a class="nav-item is-tab is-hidden-tablet is-active" href="#archive">Photos &amp; Videos</a>
      {% endif %}
      {% if page.sponsor %}
      <a class="nav-item is-tab is-hidden-tablet is-active" href="#sponsor">Sponsors</a>
      {% endif %}
      <a class="nav-item is-tab is-hidden-tablet is-active" href="#hasgeek">About HasGeek</a>
    </div>
    <label class="nav-toggle" for="sub-nav-toggle-state">
     <span></span>
     <span></span>
     <span></span>
   </label>

  </div>
</nav>



<!-- Secondary Navbar -->
<section class="secondary-navbar nav-wrapper">
  <!-- <div class="title-bar" data-responsive-toggle="page-menu" data-hide-for="medium" style="display: none;">
  		<button class="menu-icon" type="button" data-toggle></button>
  		<div class="title-bar-title">{{ page.title }}</div>
  </div> -->

  <!-- <div class="top-bar" id="page-menu">
  		<div class="top-bar-left">
  				<ul class="medium-horizontal vertical dropdown menu" >
            {% if page.overview %}
            <li><a href="#overview">Overview</a></li>
            {% endif %}
            <li><a href="#schedule">Schedule</a></li>
            {% if page.boxoffice_item_collection %}
            <li><a href="#tickets">Tickets</a></li>
            {% endif %}
            {% if page.funnel %}
            <li><a href="#speak">Call for Proposals</a></li>
            {% endif %}
            {% if page.archive %}
            <li><a href="#archive">Photos &amp; Videos</a></li>
            {% endif %}
            {% if page.sponsor %}
            <li><a href="#sponsor">Sponsors</a></li>
            {% endif %}
            <li><a href="#hasgeek">About HasGeek</a></li>
  				</ul>
  		</div>
  </div> -->
</section>
<!--/.Secondary Navbar -->

{% if page.overview %}
<section class="section "id="overview">
  <div class="container">
    {% include overview_section.html left=page.overview.left_content right=page.overview.right_content center=page.overview.center_content %}
  </div>
</section>
{% endif %}

{% if page.funnel %}
<section class="section "id="speak">
  <div class="container">
  {% include proposal_section.html %}
  </div>
</section>
{% endif %}

{% if page.boxoffice_item_collection %}
<section class="section "id="tickets">
  <div class="container">
    {% include boxoffice_tickets_section.html %}
  </div>
</section>
{% endif %}

{% if page.archive %}
<section class="section "id="archive">
  <div class="container">
  {% include archive_section.html photos_url=page.archive.photos_url videos_url=page.archive.videos_url %}
  </div>
</section>
{% endif %}

{% if page.sponsor.blurb %}
{% assign sponsor_blurb = page.sponsor.blurb %}
{% else %}
{% capture sponsor_blurb %}Interested in sponsoring {{ page.title }}?{% endcapture %}
{% endif %}
{% if page.sponsor %}

  {% include sponsor_section.html blurb=sponsor_blurb sponsorship_deck_url=page.sponsor.sponsorship_deck_url sponsors=page.sponsor.sponsors %}

{% endif %}

{% include footer.html %}
